@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Forum&family=Pinyon+Script&display=swap');

* {
  box-sizing: border-box;
}

body {

  border: 4px solid pink;
}
.App {
  text-align: center;
}

/* Placeholder style, remove later */
.nav {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  align-items: center;
  background-color: white;
  padding: 15px;
  font-size: 2em;
  opacity: .8;
  height: 50px;
}

/* rotating navigation */
.nav {
  width: 100vh;
  position: fixed;
  transform-origin: left top;
  transform: rotate(-90deg) translateX(-100%);
}

.nav a {
  color: black;
  text-decoration: none;
  margin: 0 10px 0 10px;
}

.nav-left, .nav-right, .nav-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-center {
  font-size: 1.75em;
}



.slide-img {
  width: 600px;
}

.logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  background-color: white;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px dotted pink;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  opacity: .8;
}

.logo-text {
  font-family: 'Pinyon Script', cursive;;
  font-size: 110px;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
}

.quote {
  font-family: 'Forum', cursive;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}


.description {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-color: pink;
}

.main-container button {
  font-family: 'Roboto', sans-serif;
  width: 150px;
  display: block;
  margin: 10px auto;
  padding: 10px;
  font-weight: 400;
  font-size: medium;
  text-transform: uppercase;
  letter-spacing: .1em;
  border-radius: 10px;
  background-color: white;
  border: 2px pink solid;
}

.slideshow-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev, .prev, .next {
  padding: 5px;
  margin: 5px;
}

.main, .about, .work, .contact {
  margin-left: 50px;
}

.slide-img {
  filter: drop-shadow(0 10px 5px gray);
}

