@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Forum&family=Pinyon+Script&display=swap');

/* CSS Custom Properties */
:root {
  --dark-gray: #363636;
  --gray: #4d4d4d;
  --light-gray: #eaeaea;
  --salmon: #f6cccc;
  --pink: #f6bdd4; 
}

* {
  box-sizing: border-box;
}

body {
  
  /* border: 4px solid var(--pink); */
  font-family: 'Roboto', sans-serif;
  /* letter-spacing: .1em; */
}
.App {
  text-align: center;
}

/* Placeholder style, remove later */
.nav {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  align-items: center;
  background-color: var(--pink);
  padding: 15px;
  font-size: 2em;
  opacity: .5;
  height: 50px;
}

/* rotating navigation */
.nav {
  width: 100vh;
  position: fixed;
  transform-origin: left top;
  transform: rotate(-90deg) translateX(-100%);
}

.nav a {
  color: black;
  text-decoration: none;
  /* margin: 0 10px 0 10px; */
}

.nav a:hover {
  color: white;
}

.nav-left, .nav-right, .nav-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-center {
  font-size: 1.75em;
}

.slide-img {
  width: 600px;
}

.logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  background-color: white;
  width: 350px; /* 300 px */
  height: 350px;
  border-radius: 50%;
  border: 5px dotted var(--pink);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  opacity: .8;
  text-align: center;
}

.logo-text {
  font-family: 'LillyMae-Regular', cursive;
  /* font-family: 'Pinyon Script', cursive; */
  font-size: 150px; /* 120px */
  line-height: 1.25em;  
  /* color: hotpink; */
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
}

.quote {
  font-family: 'Forum', cursive;
  background-color: var(--salmon);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}


.description {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

.socials-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container a, .main-container a:active, .main-container a:visited {
  font-family: 'Roboto', sans-serif;
  width: 200px;
  display: block;
  margin: 10px auto;
  padding: 10px;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: .1em;
  border-radius: 10px;
  background-color: white;
  border: 2px var(--pink) solid;
  text-decoration: none;
  color: black;
}

.main-container a:hover {
  background-color: pink;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.slideshow-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev, .prev, .next {
  padding: 5px;
  margin: 5px;
}

.main, .about, .work, .contact {
  margin-left: 50px;
  
}

.about, .work {
  text-align: justify;
  padding: 20px;
}

.contact {
  text-align: center;
  padding: 20px;
}

.slide-img {
  filter: drop-shadow(0 10px 5px gray);
}

ul, li {
}

h1 { 
  text-align: center;
}

.about h2, .work h2, .contact h2 {
  text-transform: uppercase;
}

.work h2, .contact h2 {
  text-align: center;
}

.prev, .next {
  color: black;
}

.prev:hover, .next:hover {
  cursor: pointer;
  color: gray;
}

input, textarea, .contact button {
  padding: 7px;
  border-radius: 10px;
  margin: 5px;
  border: 0;
  background-color: rgb(239, 236, 236);
}

form {
  
}

label, input, textarea {

}

.bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  background-color: pink;
  padding: 10px;
  
  border-radius: 50%;
}